<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="input-group mb-3">
      <h1>Encurtador de LINK!!</h1>
    </div>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Cole o link aqui!!"
        aria-label="Cole o link aqui!!"
        [(ngModel)]="urlOriginal"
      />
      <button (click)="encurtar()" class="btn btn-primary" type="button">Encurtar</button>
    </div>
  </div>
</div>

<div *ngIf="retorno" class="row justify-content-center">
  <div class="col-md-6">
    <div class="input-group m-3">

      <h2>{{ retorno.urlEncurtada }}</h2>
    </div>
  </div>
</div>


